body {
  font-family: 'Roboto', sans-serif;
  background-color: #212629;
  color: white; }

#logo {
  height: 110px;
  padding: 20px 0 50px 0; }

.container {
  clear: both;
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden; }

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px; }

h3 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center; }

#login-container {
  margin: 0 auto;
  border: 3px solid #1587AC;
  border-radius: 6px;
  width: 50%;
  height: 70%;
  margin-top: 3%;
  padding: 15px;
  text-align: center; }

.button {
  color: white;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border: none;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  background: #a9e4f7;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #a9e4f7 0%, #0fb4e7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .button:hover {
    background: #13b1ef;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #13b1ef 0%, #007da0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #13b1ef 0%, #007da0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #13b1ef 0%, #007da0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13b1ef', endColorstr='#007da0',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.index-button {
  color: white;
  font-weight: bold;
  width: 200px;
  height: 30px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  background: #a9e4f7;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #a9e4f7 0%, #0fb4e7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .index-button:hover {
    background: #13b1ef;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #13b1ef 0%, #007da0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #13b1ef 0%, #007da0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #13b1ef 0%, #007da0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13b1ef', endColorstr='#007da0',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .index-button a {
    color: white;
    text-decoration: none;
    padding-top: 5px; }

form {
  text-align: center;
  padding-bottom: 20px; }
  form label {
    font-size: 12px;
    padding: 10px; }
  form input {
    border-radius: 8px;
    width: 250px;
    height: 30px;
    background-color: white;
    font-size: 12px;
    color: #212629;
    padding-left: 15px; }
    form input::placeholder {
      background-color: white;
      font-size: 12px;
      color: #212629;
      padding: 5px, 10px; }

#footer-img {
  margin-bottom: -1%;
  margin-left: -1%;
  margin-top: 3%; }

#header-img {
  margin-left: -1%;
  margin-top: -1%; }

#admin-container {
  text-align: center;
  margin-top: 60px; }
  #admin-container h3 {
    margin-top: 60px; }
  #admin-container h2 {
    margin-bottom: 60px;
    line-height: 50px; }

.fa-star {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.2em;
  margin: 0 auto;
  color: #1587AC; }

.admin-button {
  color: white;
  font-weight: bold;
  width: 200px;
  height: 50px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  margin: 0 15px 35px 15px;
  border-radius: 8px;
  background: #a9e4f7;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #a9e4f7 0%, #0fb4e7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .admin-button:hover {
    background: #13b1ef;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #13b1ef 0%, #007da0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #13b1ef 0%, #007da0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #13b1ef 0%, #007da0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13b1ef', endColorstr='#007da0',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.gen-pas {
  margin-left: 105px;
  margin-bottom: 0px;
  height: 15px;
  width: 250px; }

#user-container {
  width: 400px;
  margin: 0 auto;
  margin-top: -30px;
  text-align: center; }
  #user-container button {
    margin-top: 20px; }

label, input {
  margin: 10px 0; }

.email {
  margin-left: 25px; }

#delete-users {
  border: 2px solid white;
  padding: 20px;
  width: 30%;
  margin-bottom: 70px;
  margin: 0 auto; }
  #delete-users a {
    color: #1587AC;
    text-transform: uppercase;
    margin-left: 50px; }

.movie-box {
  float: left;
  margin-left: 35px;
  width: 200px;
  margin-top: 25px;
  border-bottom: 1px dotted #1587AC; }
  .movie-box img {
    height: 270px;
    width: 190px; }
    .movie-box img:hover {
      opacity: 0.85; }
  .movie-box h4 {
    color: #1587AC;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 0px; }
  .movie-box h5 {
    color: #1587AC;
    padding: 5px;
    margin: 0;
    font-size: 13px;
    text-align: left; }
  .movie-box p {
    font-family: 'Quicksand';
    font-size: 10px;
    padding: 5px;
    height: 80px;
    text-align: left; }
  .movie-box .fa-star {
    font-size: 0.8em;
    margin-right: 5px;
    padding: 0; }
  .movie-box .year {
    color: white;
    font-size: 11px;
    float: right;
    padding-right: 10px; }

.mainNav ul li {
  display: inline;
  text-decoration: none;
  margin: 15px;
  text-transform: uppercase;
  color: #1587AC; }
  .mainNav ul li:hover {
    color: white;
    text-decoration: underline; }
.mainNav a {
  text-decoration: none; }
.mainNav .button {
  color: white;
  padding: 10px 15px; }

.fa-home {
  font-size: 2em;
  padding-left: 25px;
  padding-top: 10px;
  margin-bottom: -80px;
  color: white; }
  .fa-home:hover {
    color: #1587AC; }

/*# sourceMappingURL=main.css.map */
