//main

$main: #1587AC;

body
{
  font-family: 'Roboto', sans-serif;
  background-color: #212629;
   // background-color: red;
  color: white;
}
#logo{
  height: 110px;
  padding: 20px 0 50px 0;
}

.container{
  clear: both;
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}

h3{
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

#login-container
{
  margin: 0 auto;
  border: 3px solid $main;
  border-radius: 6px;
  width: 50%;
  height: 70%;
  margin-top: 3%;
  padding: 15px;
  text-align: center;
}

.button {
  color: white;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border: none;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  background: rgb(169,228,247); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  &:hover{
    background: rgb(19,177,239); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(19,177,239,1) 0%, rgba(0,125,160,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(19,177,239,1) 0%,rgba(0,125,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(19,177,239,1) 0%,rgba(0,125,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13b1ef', endColorstr='#007da0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}



.index-button
{
  color: white;
  font-weight: bold;
  width: 200px;
  height: 30px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  margin: 0 auto;
  // margin: 0 15px 35px 15px;
  border-radius: 8px;
  background: rgb(169,228,247); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  &:hover{
    background: rgb(19,177,239); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(19,177,239,1) 0%, rgba(0,125,160,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(19,177,239,1) 0%,rgba(0,125,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(19,177,239,1) 0%,rgba(0,125,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13b1ef', endColorstr='#007da0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  a {
    color: white;
    text-decoration: none;
    padding-top: 5px;
  }
}

form{
  text-align: center;
  padding-bottom: 20px;
  label{
    font-size: 12px;
    padding: 10px;
  }
  input{
    border-radius: 8px;
    width: 250px;
    height: 30px;
    background-color: white;
    font-size: 12px;
    color:#212629;
    padding-left: 15px;
    &::placeholder{
      background-color: white;
      font-size: 12px;
      color:#212629;
      padding: 5px, 10px;
    }
  }
}

#footer-img
{
  margin-bottom: -1%;
  margin-left: -1%;
  margin-top: 3%;
}

#header-img
{
  margin-left: -1%;
  margin-top: -1%;
}

// Admin page

#admin-container{
  text-align: center;
      margin-top: 60px;
  h3{
    margin-top: 60px;
  }
  h2{
    margin-bottom: 60px;
  line-height: 50px;
  }
}
.fa-star
{
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.2em;
  margin: 0 auto;
  color: $main;

}
.admin-button
{
  color: white;
  font-weight: bold;
  width: 200px;
  height: 50px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  margin: 0 15px 35px 15px;
  border-radius: 8px;
  background: rgb(169,228,247); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  &:hover{
    background: rgb(19,177,239); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(19,177,239,1) 0%, rgba(0,125,160,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(19,177,239,1) 0%,rgba(0,125,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(19,177,239,1) 0%,rgba(0,125,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13b1ef', endColorstr='#007da0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}
.gen-pas
{
  margin-left:105px;
  margin-bottom: 0px;
  // margin: 0 auto;
  // text-align: center;
  height: 15px;
  width: 250px;
}

//User

#user-container
{
  width: 400px;
  margin: 0 auto;
  margin-top: -30px;
  text-align: center;
  button
  {
    margin-top: 20px;
  }
}


label, input
{
  margin: 10px 0;
}
.email{
  margin-left: 25px;
}

#delete-users
{
  border: 2px solid white;
  padding: 20px;
  width: 30%;
  margin-bottom: 70px;
  margin: 0 auto;
  a {
    color: $main;
    text-transform: uppercase;
    margin-left: 50px;
  }
}

.movie-box
{
  float: left;
  margin-left: 35px;
  width: 200px;
  // height: 500px;
  margin-top: 25px;
  border-bottom: 1px dotted $main;
  img{
    height: 270px;
    width: 190px;
    &:hover{
      opacity: 0.85;
    }
  }
  h4{
    color: $main;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  h5{
    color: $main;
    padding: 5px;
    margin: 0;
    font-size: 13px;
    text-align: left;
  }
  // h6{
  //   padding: 5px;
  //   margin: 0;
  //   font-size: 13px;
  //   text-align: left;
  // }
  p{
    font-family: 'Quicksand';
    font-size: 10px;
    padding: 5px;
    height: 80px;
    text-align: left;
  }
  .fa-star{
    font-size: 0.8em;
    margin-right: 5px;
    padding: 0;
  }
  .year
  {
    color: white;
    font-size: 11px;
    // margin-left: 20px;
    float: right;
    padding-right: 10px;
  }
}

.mainNav {
  ul li{
    display: inline;
    text-decoration: none;
    margin: 15px;
    text-transform: uppercase;
    color: $main;
    &:hover{
      color: white;
      text-decoration: underline;
    }
  }
  a{
  text-decoration: none;
  }
  .button {
    color: white;
    padding: 10px 15px;
  }
}

.fa-home
{
  font-size: 2em;
  padding-left: 25px;
  padding-top: 10px;
  margin-bottom: -80px;
  color: white;
  &:hover{
    color: $main;
  }
}
